*{
    margin: 0px;
    padding: 0px;

}
.btn{
    padding: 10px 20px;
    background-color:rgb(241, 95, 126);
    color: white;
    border: none;
    border-radius: 5px;
}
.first-heading{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(47, 47, 47);
}
.first-paragraph{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(131, 126, 126);
    margin-top: 20px;
    margin-bottom: 20px;
}
.img1{
    width: 400px;
}
.parent1{
    display: flex;
    justify-content: space-around;
    height: 79vh;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.09)
}
.div2{
    margin-top: 21px;
}
.second-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    color: rgb(38, 38, 38);
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 30px;
}
.second-paragraph{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(116, 115, 115);
    text-align: center;
    margin-top: 20px;
}
.img2{
    width: 200px;
    margin-top: 51px;
    
}
.box1{
    background-color: pink;
    width: 300px;
    height: 327px;
    text-align:center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: 50px;
}
.p{
    text-decoration: underline;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(42, 41, 41);
}
.box2{
    background-color: rgb(187, 221, 223);
    width: 300px;
    height: 327px;
    text-align:center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: 50px;
}
.img3{
    width: 280px;
    margin-top: 40px;
}
.img4{
    width: 200px;
    margin-top: 26px;
}
.box3{
    background-color: rgb(194, 255, 234);
    width: 300px;
    height: 327px;
    text-align:center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: 50px;
}
.parent2{
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
    margin-right: 160px;
}
.box4{
    background-color: rgb(247, 240, 240);
    margin-top: 100px;
    width: 350px;
    text-align: center;
    height: 200px;
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(101, 97, 97);
}
.img5{
    width: 60px;
    margin-top: 70px;
}
.parent3{
    display: flex;
    margin-left: 150px;
}